.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 3rem
  height: 10vh

  .logo
    display: flex
    align-items: center
    gap: 1rem

    img
      height: 3rem

    .logo-text
      margin: 0
      font-size: 2.3rem
      font-weight: 700