.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 3rem

  .logo
    display: flex
    align-items: center
    gap: 1rem

    img
      height: 2.5rem

    .logo-text
      margin: 0
      font-weight: 700